/* CSS for the main page */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

div.heads {
  color: white;
  background-color: #161B0B;
  text-align: center;
}



div.mtext {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
    font-family: "Times New Roman", Times, serif;
}


.mimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.mimg{

    display:flex;
}

.mimg{
    transition: transform .2s;
    width:750px;
    height:500px;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
.mimg:hover{
    transform:scale(1.5);
}



div.ttext {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
    font-family: "Times New Roman", Times, serif;
}

.timg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.timg{

    display:flex;
}

.timg{
    transition: transform .2s;
    width:750px;
    height:500px;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
.timg:hover{
    transform:scale(1.5);
}

div.ltext {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
    font-family: "Times New Roman", Times, serif;
}

.limg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.limg{

    display:flex;
}

.limg{
    transition: transform .2s;
    width:750px;
    height:500px;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
.limg:hover{
    transform:scale(1.2);
}


.footer{
  color: white;
  background-color: #161B0B;
  position: fixed;
bottom: 0px;
width: 100%;
margin-left: 0;
margin-right: 0;
}

/* CSS for the links */
body {
  background-color: Black;
  overflow: auto;
  width: auto;
}

.heading {
  width:50%;
  height: 50%;
  display: block;
  left: 783px;
  position: absolute;
}

.centered {
  position: absolute;
  top: 250px;
  left: 400px;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
}


div.biography {
    font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
position: absolute;
top: 500px;
line-height: 110%;
width: 550px;
margin-left: 90px;
margin: 100px;
}

div.songs {
    font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
  position: absolute;
  top: 700px;
  line-height: 110%;
  width: 550px;
  margin-left: 60px;
  margin: 100px;
}


div.records, th, tr {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  margin-left: auto;
margin-right: 20px;
width: 50em;
  color: white;
}

div.records{
position: absolute;
  top: 500px;
  left: 783px;
}


.hi {
  position: relative;
  top: -30px;
  left: 90%;
}


.footers{
  color: white;
  background-color: #161B0B;
  top: 1800px;
width: 100%;
height: 50px;
position: absolute;
margin-left: 0;
margin-right: 0;
}
